.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

#logo {
  height: 200px;
  width: 200px;
}

.firstpage-bottom-text {
  font-size: 25px;
}